/* Force include dark mode classes to prevent purging */
.dark\:bg-gray-900 { background-color: rgb(17 24 39); }
.dark\:text-white { color: rgb(255 255 255); }
.dark\:border-gray-700 { border-color: rgb(55 65 81); }
.dark\:bg-blue-900\/20 { background-color: rgb(30 58 138 / 0.2); }
.dark\:hover\:bg-blue-900\/20:hover { background-color: rgb(30 58 138 / 0.2); }
.dark\:text-blue-400 { color: rgb(96 165 250); }
.dark\:bg-blue-50 { background-color: rgb(239 246 255); }
.dark\:text-blue-600 { color: rgb(37 99 235); }
.dark\:bg-gray-800 { background-color: rgb(31 41 55); }
.dark\:text-gray-300 { color: rgb(209 213 219); }
.dark\:border-gray-600 { border-color: rgb(75 85 99); }
.dark\:hover\:bg-gray-700:hover { background-color: rgb(55 65 81); }
.dark\:hover\:text-blue-300:hover { color: rgb(147 197 253); }
